<!DOCTYPE html>
<html lang="en">

<head>
    <title>订单管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../../css/account/order.css" type="text/css" rel="stylesheet">
    <link href="../../css/common.css" type="text/css" rel="stylesheet">
    <script src="../../3rd/jq/jquery.js"></script>
    <script src="../../js/poplistPlus.js"></script>

<body>
<header><a class="back" ></a>订单详情</header>
<div class="container">
    <div class="o-b">
        订单号：123123123123
    </div>
    <div class="o-b">
        <div>周润发 18*******88</div>
        <div>上海市徐汇区桂平路418号603室</div>
    </div>
    <!--待发货  start-->
    <div class="o-b-l">
        <dl class="o-b-d">
            <dt>包裹1 易果<span class="state">待发货</span></dt>
            <dd>
                <img class="g-img" src="../../images/shops/good2.png">
                <div  class="g-detail">
                    <div class="g-d-n">
                        喜迎春节特价海鲜大礼包超值
                        特价海鲜大礼包
                        特价海鲜大礼包
                    </div>
                    <div>
                        <label class="uk">优卡商品</label>
                    </div>
                </div>
                <div class="g-num">
                    <div class="g-pr">￥30.00</div>
                    <div class="g-n">数量1</div>
                </div>
            </dd>
        </dl>
        <div class="action-b">
            <a class="bw">再次购买</a>
            <a class="bw">联系客服</a>
        </div>
    </div>

    <div class="o-b-l">
        <dl class="o-b-d">
            <dt>包裹2 易果<span class="state">待发货</span></dt>
            <dd>
                <img class="g-img" src="../../images/shops/good2.png">
                <div  class="g-detail">
                    <div class="g-d-n">
                        喜迎春节特价海鲜大礼包超值
                        特价海鲜大礼包
                        特价海鲜大礼包
                    </div>
                    <div>
                        <label class="uk">优卡商品</label>
                    </div>
                </div>
                <div class="g-num">
                    <div class="g-pr">￥30.00</div>
                    <div class="g-n">数量1</div>
                </div>
            </dd>
        </dl>
        <div class="action-b">
            <a class="bw">再次购买</a>
            <a class="bw">联系客服</a>
        </div>
    </div>
    <!--待发货  end-->


    <!--待付款 start-->

    <div class="o-b-l">
        <dl class="o-b-d">
            <dt>易果 订单号：c213213122<span class="state">待付款</span></dt>
            <dd>
                <img class="g-img" src="../../images/shops/good2.png">
                <div  class="g-detail">
                    <div class="g-d-n">
                        喜迎春节特价海鲜大礼包超值
                        特价海鲜大礼包
                        特价海鲜大礼包
                    </div>
                    <div>
                        <label class="uk">优卡商品</label>
                    </div>
                </div>
                <div class="g-num">
                    <div class="g-pr">￥30.00</div>
                    <div class="g-n">数量1</div>
                </div>
            </dd>
        </dl>
        <div class="action-b">
            <a class="bw">再次购买</a>
            <a class="bw">联系客服</a>
        </div>
    </div>
    <!--待付款 end-->

    <!--待收货 start-->
    <div class="o-b-l">
        <dl class="o-b-d">
            <dt>包裹2 易果<span class="state">待收货</span></dt>
            <dd>
                <img class="g-img" src="../../images/shops/good2.png">
                <div  class="g-detail">
                    <div class="g-d-n">
                        喜迎春节特价海鲜大礼包超值
                        特价海鲜大礼包
                        特价海鲜大礼包
                    </div>
                    <div>
                        <label class="uk">优卡商品</label>
                    </div>
                </div>
                <div class="g-num">
                    <div class="g-pr">￥30.00</div>
                    <div class="g-n">数量1</div>
                </div>
            </dd>
        </dl>
        <div class="action-b">
            <a class="bw">再次购买</a>
            <a class="bw">联系客服</a>
            <a class="bw">查看物流</a>
        </div>
    </div>
    <!--待收货 end-->


    <!--交易成功 start-->
        <div class="o-b-l">
            <dl class="o-b-d">
                <dt>包裹2 易果<span class="state">交易成功</span></dt>
                <dd>
                    <img class="g-img" src="../../images/shops/good2.png">
                    <div  class="g-detail">
                        <div class="g-d-n">
                            喜迎春节特价海鲜大礼包超值
                            特价海鲜大礼包
                            特价海鲜大礼包
                        </div>
                        <div>
                            <label class="uk">优卡商品</label>
                        </div>
                    </div>
                    <div class="g-num">
                        <div class="g-pr">￥30.00</div>
                        <div class="g-n">数量1</div>
                    </div>
                </dd>
            </dl>
            <div class="action-b">
                <a class="wb">售后</a>
                <a class="bw">再次购买</a>
                <a class="bw">联系客服</a>
                <a class="bw">查看物流</a>
            </div>
        </div>

    <!--交易成功 end-->
    <div class="p-b">
        <dl>
            <dt>支付方式 <span class="right">微信支付</span></dt>
            <dd>发票信息 <span class="right">纸质发票</span></dd>
            <dd>发票抬头：周润发</dd>
            <dd>发票内容：按时打算打算打算打算打算打算打算打算打算</dd>
        </dl>
    </div>

    <div class="p-a">
        <div>商品金额 <span class="right">￥60.00</span></div>
        <div>运费 <span class="right">￥60.00</span></div>
        <div>优惠券 <span class="right">-￥60.00</span></div>
        <div>优卡积分 <span class="right">-￥60.00</span></div>
        <div>账户积分 <span class="right">-￥60.00</span></div>
        <div class="p-f "><span class="right">实付总额：￥50.00</span></div>
    </div>

    <div class="d-b">
        <a class="right">删除订单</a>
    </div>
</div>

</body>
<script>

</script>
</html>