<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/account/label.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
	</head>

	<body>
		<div class="a_label_01">
			<p>选择属于自己的标签</p>
			<span>最多可选6个标签</span>
		</div>
			<div class="a_label_02">
				<ul>
					<li class="a_label_on">80后</li>
					<li>一二三四五六七</li>
					<li>阿姨额后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
					<li>80后</li>
				</ul>
			</div>
		<div class="a_label_03">
			<a href="#">
				继续吧
			</a>
		</div>
	</body>

</html>