<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>一箱好货</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../../css/account/login.css" type="text/css" rel="stylesheet">
    <link href="../../css/common.css" type="text/css" rel="stylesheet">
    <script src="../../3rd/jq/jquery.js"></script>
    <script src="../../js/rem.js"></script>
</head>
<body>
    <div class="top"><a class="back" href="javascript:window.history.back()"></a>  用户登录</div>
    <div class="container">
        <div class="i-b">
            <input placeholder="请输入手机号" type="text">
        </div>

        <div class="i-b">
            <input placeholder="请输入密码" type="password">
        </div>

        <div class="i-b-b">
            <button class="l-b">登录</button>
        </div>

        <div class="a-b">
            <a href="#">现在注册</a>
            <a href="#">忘记密码</a>
        </div>

        <div class="p-b">
            <p>合作商户登录</p>
        </div>
        <div class=" a-w">
            <a class="weixin"></a>
        </div>
    </div>
</body>
</html>