<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->

		<!--App自定义的css-->
		<link rel="stylesheet" href="../../css/account/you_card.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		
	
	</head>

	<body>
		<div id="personal">
				<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					优卡积分使用说明
				</h2>
			</header>
			<div class="you_card">
				<p>
					1、扫码关注“一箱好货”微信号，点击底部菜单“进入商城”，登录“个人中心”查看“优卡积分”。
				</p>
				<p>
					2、优卡积分仅限企业用户在“一箱好货”购物平台用于支付优卡专区内的商品。
				</p>
				<p>
					3、<span>优卡积分充值1元＝100积分</span>，精确至个位（不四舍五入），仅用于线上支付时抵扣现金。该积分可累计，不可兑现或转让。积分有效期为自企业签约日期后1年自然日，逾期自动作废。
				</p>
				<p>
					4、用户在使用积分时，<span>优先消耗旧积分</span>(如用户积分由今年四月份和今年5月份共同累积，则优先消耗今年4月份的积分)；如若在使用的积分有效期之外发生退款，该部分积分不予退还。
				</p>
				<p>
					5、积分管理中包含每一笔积分的来源于消费记录，订单一旦产生后，相应的积分消费记录即会产生。
				</p>
			</div>
		</div>
	</body>
</html>