<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->

		<!--App自定义的css-->
		<link rel="stylesheet" href="../../css/account/youhui_shuoming.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		
	
	</head>

	<body>
		<div id="personal">
				<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					优惠券使用说明
				</h2>
			</header>
			<div class="you_card">
				<p>
					1、商品加入购物车后，结算时点击“使用优惠券”，即可抵扣相应优惠。
				</p>
				<p>
					2、优惠券分为店铺专用券与跨店通用券，店铺专用券，一家店铺每张订单仅限使用一张优惠券。
				</p>
				<p>
					3、店铺专用券与跨店通用券可以同时使用，每张订单仅限使用一张跨店优惠券。
				</p>
				<p>
					4、所有优惠券不挂失、不找零、不兑现、不抵运费。
				</p>
				<p>
					5、优惠券金额大于订单应付金额时，差额不予退回。
				</p>
				<p>
					6、订单取消时优惠券自动返还，产生退换货时优惠券不再返还。
				</p>
				<p>
					7、使用优惠券抵扣部分的货款不开具发票。
				</p>
				<p>
					8、团购商品、礼品卡、特价商品及其他有特殊规定的商品不可使用优惠券。
				</p>
				
			</div>
		</div>
	</body>
</html>