<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->

		<!--App自定义的css-->
		<link rel="stylesheet" href="../../css/account/zhanghuyue.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		
	
	</head>

	<body>
		<div id="integral">
				<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					账户余额
				</h2>
			</header>

			<div class="integral_01">
				<dl>
					<dt>
						<p>
							<i>可用123000余额</i>
						</p>
						
					</dt>
					<dd>
						<p>
							余额充值
						</p>
					</dd>
				</dl>
			</div>
			<div class="integral_02">
		<ul class="integral_02_a">
					<li>
						来源
					</li>
					<li>
						支出
					</li>
					<li>
						收入
					</li>
				</ul>

				<div class="integrals">
					<ul class="integral_02_b">
						<li>
							积分充值
							<p>
								2016-10-18
							</p>
						</li>
						<li>

						</li>
						<li>
							+5
						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
					<ul class="integral_02_b">
						<li>
							购物抵扣
							<p>
								2016-10-18
							</p>
							<p>
								C16122548457
							</p>
						</li>
						<li>
							-500
						</li>
						<li>

						</li>
					</ul>
				</div>
			
			</div>
		</div>
		<div class="loading-board">
			<div class="loader">
				<div class="loader-inner ball-spin-fade-loader">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="loading-t">数据正在加载中..</div>
		</div>
	</body>
	<script>
		function Refresh(){
			this.callback;
			this.state;
			this.up;
			this.options;
			this.end;
			this.endPullDownToRefresh=function(flag){
				var self=this;
				var ends=flag||false;
				console.log(ends);
				if(!ends){
					var load=document.getElementsByClassName('loading-board')[0];
					load.setAttribute('style','display:none');
					self.state="hasMoreData";
				}else {
					self.state="noMoreData";
					var load=document.getElementsByClassName('loading-board')[0];
					var	loadContent=load.getElementsByClassName('loading-t')[0];
					load.setAttribute('style','display:none');

				};
			};
			this.init=function(options){
				var self=this;
				self.options=options;
				if(!options){
					throw  new  Error('当前没有传入回调函数');
				}
				self.state=options.state;
				self.callback=options.callback;

			};
			this.operate=function(){
				var self=this;

				var state=self.state||'hasMoreData';

				switch (state){
					case 'hasMoreData':
						var load=document.getElementsByClassName('loading-board')[0];
						var lt=load.getElementsByClassName('loading-t')[0];
						lt.innerHTML=self.options.contentloading;
						load.setAttribute('style','display:block');
						self.callback();
						break;
					case 'noMoreData':
						var bottom=document.getElementsByClassName('bottom')[0];
						console.log(bottom);
						if(!bottom){
							var bottom=document.createElement('div');
							var u=document.getElementsByClassName('integrals')[0];
							bottom.setAttribute('class','bottom');
							bottom.innerHTML='已经到底啦~';
							u.appendChild(bottom);
						}
						break;
				}
			}
		};
		//初始化全局下拉加载
		window.refresh=new Refresh();
		var options={
			callback:setData,//滚动到底部执行
			contentloading:"数据正在加载中",
			contentnomore:'没有更多数据了',
		};

		document.addEventListener('DOMContentLoaded',function(){

			var il=document.getElementsByClassName('integrals')[0];
			il.addEventListener('scroll',function(){
				var st=il.scrollTop;
				var cl=il.clientHeight;
				var sh=il.scrollHeight;
				console.log(st+'||'+cl+'||'+sh);
				var a=st+cl+20;
				if(a>=sh){

					refresh.operate();
				}
			})
		})
		var length=20;

		refresh.init(options);
		function setData(){
			setTimeout(function(){

					var template=
								'<li>'+
									'购物抵扣'+
									'<p>'+
										'2016-10-18'+
									'</p>'+
									'<p>'+
										'C16122548457'+
									'</p>'+
								'</li>'+
								'<li>'+
									'-500'+
								'</li>'+
								'<li>'+

								'</li>';

					var u=document.getElementsByClassName('integrals')[0];

					for(i=0;i<10;i++){
						var a=document.createElement('ul');
						a.setAttribute('class','integral_02_b');
						a.innerHTML=template;
						u.appendChild(a);
						length--
					}
					if(length>=0){
						refresh.endPullDownToRefresh(false);//当还有数据时执行
					}else {
						refresh.endPullDownToRefresh(true);//当没有数据是执行
					}


			},1000)
		}
	</script>
</html>