<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>分类</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../3rd/mui/mui.min.css">
		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/product/goods_details.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<!--标准mui.js-->
		<script src="../../3rd/mui/mui.min.js"></script>
		<script type="text/javascript" src="../../3rd/jq/jquery.js" ></script>
	</head>

	<body>
		<div class="goods_details_a">
			<img src="../../images/shops/back_back.png">
		</div>
		<div class="goods_details_b hide">
			<p>
				<img src="../../images/shops/back_back.png">
			</p>
				<span>
					<img src="../../images/shops/product/goods_03.png">
					<i>1</i>
				</span>
				<span>
					<img src="../../images/shops/product/goods_02.png">
				</span>
			</div>
		<div id="goods_details">
					<div id="slider" class="mui-slider goods_margin" >
					<div class="mui-slider-group mui-slider-loop" id="sliderbanner">
						<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="../../images/shops/product/goods_06.jpg">
							</a>
						</div>
						<!-- 第一张 -->
						<div class="mui-slider-item">
							<a href="#">
								<img src="../../images/shops/product/goods_06.jpg">
							</a>
						</div>
						<!-- 第二张 -->
						<div class="mui-slider-item">
							<a href="#">
								<img src="../../images/shops/product/goods_06.jpg">
							</a>
						</div>
						
						
						<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
						<div class="mui-slider-item mui-slider-item-duplicate">
							<a href="#">
								<img src="../../images/shops/product/goods_06.jpg">
							</a>
						</div>
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<div class="mui-indicator "></div>
						
					</div>
				</div>
			
			<script type="text/javascript" charset="utf-8">
	
			var slider = mui("#slider");
			slider.slider({
				interval: 5000
			});
		</script>
		<div class="goods_details_01">
			<div class="goods_det_01">
				<span>
					<img src="../../images/shops/product/goods_03.png">
					<i>1</i>
				</span>
				<span>
					<img src="../../images/shops/product/goods_02.png">
				</span>
			</div>
			<div class="goods_det_02">
				美厨（maxcook）保温壶 304不锈钢真空热水壶保温瓶欧式2.0L本色MCH-478
			</div>
			<div class="goods_det_03">
				<span>$68.00</span>
				<i>$138.00</i>
				<p>距离特价活动结束还剩27:00:00</p>
			</div>
		</div>
		<div class="goods_details_02">
			<div class="goods_det_04">
				<span>新品</span>
				<span>新品</span>
				<span>新品</span>
				<span>新品啊</span>
			</div>
			<div class="goods_det_05 goods_det_05_bk">
				<span>促销:</span><p>双12特惠大联欢</p>
			</div>
			<div class="goods_det_06">
				<span>促销:</span><p>双12特惠大联欢</p>
			</div>
			<div class="goods_det_09">
				<span>
					送至:
				</span>
				<p>上海市  上海市 徐汇区</p>
			</div>
			<div class="goods_det_09 goods_det_ty">
				<span>
					该地区不支持配送
				</span>
			</div>
			<div class="goods_det_07">
				<div class="goods_det_07_left">
					<span>数量:</span>
					<span class="goods_det_07_left_01"><img src="../../images/shops/product/goods_04.png"></span>
					<span class="goods_det_07_left_02">100</span>
					<span class="goods_det_07_left_03"><img src="../../images/shops/product/goods_05.png"></span>
					<p class="goods_det_07_left_04">限购2件</p>
				
				</div>
				<div class="goods_det_07_right">
						<p>优卡专区</p>
				</div>
			</div>
			<div class="goods_det_08">
				<img src="../../images/shops/product/goods_07.png">
				<span>由<美厨MAXCOOK> 发货</span>
			</div>
		</div>
		<div class="goods_details_03">
			<dl>
				<dt>
					<img src="../../images/shops/product/goods_10.png">
					<span>
						美厨MAXCOOK
					</span>
				</dt>
				<dd>
					<img src="../../images/shops/product/goods_08.png">
				</dd>
			</dl>
		</div>
		<div class="goods_details_04">
			<img src="../../images/shops/product/goods_11.png">
		</div>
		<div class="goods_details_05">
			<div class="goods_details_05_a">
				<img src="../../images/shops/product/goods_12.jpg">
			</div>
			 <div class="a_mall">

								 <!--商品 start-->
							
									 <dl class="a_mall_01">

										 <dt>
											 <img src="../../images/shops/product/shop_03.jpg">
										 </dt>
										 <dd>
											 <p class="a_mall_siz">比格家 无核西梅干</p>
											 <span class="a_mall_siz_a">比格家</span>
											 <p class="a_mall_siz_b">￥69.00</p>
										 </dd>
									 </dl>
							
								 <!--商品 end-->
								
									 <dl class="a_mall_01">

										 <dt>
											 <img src="../../images/shops/product/shop_03.jpg">
										 </dt>
										 <dd>
											 <p class="a_mall_siz">比格家 无核西梅干</p>
											 <span class="a_mall_siz_a">比格家</span>
											 <p class="a_mall_siz_b">￥69.00</p>
										 </dd>
									 </dl>
								
									 <dl class="a_mall_01">

										 <dt>
											 <img src="../../images/shops/product/shop_03.jpg">
										 </dt>
										 <dd>
											 <p class="a_mall_siz">比格家 无核西梅干</p>
											 <span class="a_mall_siz_a">比格家</span>
											 <p class="a_mall_siz_b">￥69.00</p>
										 </dd>
									 </dl>
							
 								
									 <dl class="a_mall_01">

										 <dt>
											 <img src="../../images/shops/product/shop_03.jpg">
										 </dt>
										 <dd>
											 <p class="a_mall_siz">比格家 无核西梅干</p>
											 <span class="a_mall_siz_a">比格家</span>
											 <p class="a_mall_siz_b">￥69.00</p>
										 </dd>
									 </dl>
								
								
									 <dl class="a_mall_01">

										 <dt>
											 <img src="../../images/shops/product/shop_03.jpg">
										 </dt>
										 <dd>
											 <p class="a_mall_siz">比格家 无核西梅干</p>
											 <span class="a_mall_siz_a">比格家</span>
											 <p class="a_mall_siz_b">￥69.00</p>
										 </dd>
									 </dl>
								
 								
									 <dl class="a_mall_01">

										 <dt>
											 <img src="../../images/shops/product/shop_03.jpg">
										 </dt>
										 <dd>
											 <p class="a_mall_siz">比格家 无核西梅干</p>
											 <span class="a_mall_siz_a">比格家</span>
											 <p class="a_mall_siz_b">￥69.00</p>
										 </dd>
									 </dl>
								
			                 </div>
		</div>
		</div>
		<div class="goods_details_06">
			<span class="goods_det_bk">
				加入购物车
			</span>
			<span class="goods_det_bk">
				立即购买
			</span>
		</div>
		
<script>
	$(function(){
		$(window).scroll(function ()
	{
		var top = $(this).scrollTop();
		if(top>250)
		{
			$('.goods_details_a,.goods_det_01').hide();
			$('.goods_details_b').show();
			
		}
		else{
			$('.goods_details_a,.goods_det_01').show();
			$('.goods_details_b').hide();
		}
	});
		
	})
</script>
	</body>
</html>