<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="../../css/product/groupMy.css" type="text/css" rel="stylesheet">
    <link href="../../css/common.css" type="text/css" rel="stylesheet">
    <script src="../../3rd/jq/jquery.js"></script>
    <script src="../../js/rem.js"></script>
</head>
<body>
<div class="segement">
    <a src="" class="seg-active"> 全部</a>
    <a src="">组团进行中</a>
    <a src="">组团成功</a>
    <a src="">组团失败</a>
</div>
<div class="container">
    <ul  class="goods-lists-board">
        <!--开团 start-->
        <li>
            <img src="../images/shops/pinpai_shangpin.png">
            <div class="detail">
                <div class="goods-name">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</div>
                <div class="goods-detail">商品描述商品描述商品描述</div>
                <div class="goods-price"><span class="price">59.9元/盒</span><label class="baoyou">包邮</label></div>
                <div class="goods-markeprice">市场价<del>100元</del></div>
                <div class="goods-join open-w">还差9人</div>
                <a class="group group-open-long"><div><span class="group-rule orange">100人<br>成团价</span><span class="group-price">29.9元</span></div><button class="action">进行中></button></a>
                <div class="group-detail" ><a class="group-detail-group">团详情</a><a class="group-detail-order">订单详情</a></div>
            </div>
        </li>
        <!--开团 end-->
        <!--开团失败 start-->
        <li>
            <img src="../images/shops/pinpai_shangpin.png">
            <div class="detail">
                <div class="goods-name">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</div>
                <div class="goods-detail">商品描述商品描述商品描述</div>
                <div class="goods-price"><span class="price">59.9元/盒</span><label class="baoyou">包邮</label></div>
                <div class="goods-markeprice">市场价<del>100元</del></div>
                <div class="goods-join fail-w">还差9人</div>
                <a class="group group-fail-long"><div><span class="group-rule purper">100人<br>成团价</span><span class="group-price">29.9元</span></div><div class="action">失败></div></a>
                <div class="group-detail" ><a class="group-detail-group">团详情</a><a class="group-detail-order">订单详情</a></div>
            </div>
        </li>
        <!--开团失败 end-->
        <!--参团 start-->
        <li>
            <img src="../images/shops/pinpai_shangpin.png">
            <div class="detail">
                <div class="goods-name">商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品商品</div>
                <div class="goods-detail">商品描述商品描述商品描述</div>
                <div class="goods-price"><span class="price">59.9元/盒</span><label class="baoyou">包邮</label></div>
                <div class="goods-markeprice">市场价<del>100元</del></div>
                <div class="goods-join access-w">还差9人</div>
                <a class="group group-access-long"><div><span class="group-rule purper">100人<br>成团价</span><span class="group-price">29.9元</span></div><div class="action">进行中></div></a>
                <div class="group-detail" ><a class="group-detail-group">团详情</a><a class="group-detail-order">订单详情</a></div>
            </div>
        </li>
        <!--参团 end-->

    </ul>
</div>
</body>
<script>

</script>
</html>