<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>分类</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="../../3rd/mui/mui.min.css">
		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/product/project_details.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<!--标准mui.js-->
		<script src="../../3rd/mui/mui.min.js"></script>
	</head>

	<body>
		<div id="project">
			<div class="project_details_top">
				<div class="project_details_left">
					<img src="../../images/shops/button_back.png">
				</div>
				<div class="project_details_right">
					
				</div>
			</div>
			<div class="project_details_01">
			<img src="../../images/shops/product/project_02.jpg">
		</div>
		<div class="project_details_01">
			<a>
			<img src="../../images/shops/product/project_03.jpg">
			</a>
		</div>
		<div class="project_details_02">
			<img src="../../images/shops/product/project_03.jpg">
			<div class="project_details_02_a">
				<a href="#">
					
				</a>
				<a href="#">
					
				</a>
			</div>
		</div>	
			<div class="project_details_03">
			<img src="../../images/shops/product/project_03.jpg">
			<div class="project_details_03_a">
				<a href="#">
					
				</a>
				<a href="#">
					
				</a>
				<a href="#">
					
				</a>
			</div>
		</div>		
			
		</div>
		
		<footer>
			<div class="a_foot">
				<div class="ionc_01 pressed">
					
				</div>
				<div class="ionc_02">
					
				</div>
				<div class="ionc_03">
					
				</div>
				<div class="ionc_04">
					
				</div>
			</div>
		</footer>
	</body>
</html>