<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>分类</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../../3rd/mui/mui.min.css">
		<!--App自定义的css-->
	
		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/product/search_list.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<!--标准mui.js-->
		<script src="../../3rd/mui/mui.min.js"></script>
	</head>

	<body>
		<div id="search_list">
			<div class="search_list_head">
				<div class="search_list_top">
					<div class="search_list_top_1">
						<img src="../../images/shops/icon_back.png">
					</div>
					<div class="search_list_top_2">
						零食
					</div>
				</div>
				<div class="search_list_top_3">
					<ul>
						<li class="search_list_on search_list_onbe">
							销量
						</li>
						<li class="search_list_ontop search_list_ontbe">
							价格
						</li>
						<li class="search_list_onbot search_list_onbota">
							价格
						</li>
					</ul>
				</div>
			</div>
			<div class="search_list_empty hide">
				<img src="../../images/shops/product/icon_empty.png">
				<p>
					抱歉，未找到相关内容
				</p>
			</div>
			<div id="pullrefreshs" class="mui-content mui-scroll-wrapper mui-scroll-wrapper_a ">
			    <div class="mui-scroll">
			        <div class="main main_c main_top_1">
			                    <div class="ofgoods_b" ng-show="length">
			                        <p style="padding-top: 27%; color: #6E6E6E; font-size: 1.2rem; text-align: center">
			                            	
			                        </p>
			                    </div>
			                 <div class="a_mall">
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干比格家 无核西梅干比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 	<dl class="a_mall_01">
			                 		<dt>
			                 			<img src="../../images/shops/product/img_2.png">
			                 		</dt>
			                 		<dd>
			             				<p class="a_mall_siz">比格家 无核西梅干</p>    			
			             				<span class="a_mall_siz_a">比格家</span>
			             				<p class="a_mall_siz_b">￥69.00</p>
			                 		</dd>
			                 	</dl>
			                 </div>
			        </div>
			    </div>
			</div>
				<script>
				    mui.init({
				        pullRefresh: {
				            container: '#pullrefreshs',
				            down: {
				
				                //callback: pulldownRefresh
				            },
				            up: {
				                contentrefresh: '正在加载...',
				                callback: pullupRefresh
				            }
				        }
				    });
				    /**
				     * 下拉刷新具体业务实现
				     */
				//    function pulldownRefresh() {
				//        setTimeout(function() {
				////            var table = document.body.querySelector('.mui-table-view');
				////            var cells = document.body.querySelectorAll('.mui-table-view-cell');
				////            for (var i = cells.length, len = i + 3; i < len; i++) {
				////                var li = document.createElement('li');
				////                li.className = 'mui-table-view-cell';
				////                li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
				////                //下拉刷新，新纪录插到最前面；
				////                table.insertBefore(li, table.firstChild);
				////            }
				//           // mui('#pullrefreshs').pullRefresh().endPulldownToRefresh(); //refresh completed
				//        }, 1500);
				//    }
				    var count = 0;
				    /**
				     * 上拉加载具体业务实现
				     */
				    function pullupRefresh() {
				        setTimeout(function() {
				            mui('#pullrefreshs').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
				        }, 1500);
				    }
				    if (mui.os.plus) {
				        mui.plusReady(function() {
				            setTimeout(function() {
				                mui('#pullrefreshs').pullRefresh().pullupLoading();
				            }, 1000);
				
				        });
				    } else {
				//        mui.ready(function() {
				////            mui('#pullrefreshs').pullRefresh().pullupLoading();
				//            mui('#pullrefreshs').pullRefresh().enablePullupToRefresh();
				//        });
				    }
				</script>
		</div>
	</body>

</html>