input[type="radio"]:checked + label:before{
     content: close-quote;
     display: block;
     position: absolute;
     width: 0.75rem;
     height: 0.75rem;
     left:50%;
     top:50%;
     margin-left: -0.375rem;
     margin-top: -0.375rem;
     border-radius: 0.375rem;
     background:#c39a53;
     -webkit-animation:showScaleBig 100ms ease-out;
     -o-animation:showScaleBig 100ms ease-out;
     animation:showScaleBig 100ms ease-out;
 }
input[type="radio"]{
    position: relative;
    width: 1rem;
    height: 1rem;
    z-index: 20;
    opacity: 0;
    display: inline-block;
    margin-right: 0.5rem;
}
input[type="radio"]:before{
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #999999;
}
input[type="radio"] + label{
    position: absolute;
    width: 1rem;
    height: 1rem;
    z-index: 10;
    left: 2rem;
    top: 0rem;
    border-radius: 0.5rem;
    border: 1px solid #999;
}
body{
    background: #eeeeee;
}
.i-b-l{
    position: relative;
    display: inline-block;

}
input[type="radio"]:checked + label:before{
    content: close-quote;
    display: block;
    position: absolute;
    width: 0.75rem;
    height: 0.75rem;
    left:50%;
    top:50%;
    margin-left: -0.375rem;
    margin-top: -0.375rem;
    border-radius: 0.375rem;
    background:#c39a53;
    -webkit-animation:showScaleBig 100ms ease-out;
    -o-animation:showScaleBig 100ms ease-out;
    animation:showScaleBig 100ms ease-out;
}
.i-b-b{
    padding: 0.8rem 0 0;
    overflow: auto;
}
.i-b-l{
    float: left;
    display: inline-block;
    width: 50%;
    text-indent: 2rem;
}
.i-b{
    width: 93%;
    margin: 0 auto 1rem;
    padding: 0.8rem 3%;
    background: #ffffff;
    box-sizing: border-box;
    font-size: 1rem;
    border-bottom: 1px #cccccc solid;
}
.i-b:first-child{
    margin-top: 0.5rem;
}
.i-b-h{
    color: #666666;
    padding-bottom: 0.8rem;
    border-bottom: 1px #cccccc solid;
}
.i-n{
    margin-top: 1rem;
    padding: 3%;
    color: #666666;
    font-size: 1rem;

}
.sure{
    display:block;
    width: 93%;
    padding: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    background:#c39a53;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0 auto 0.3rem;
}

.c-i{
    display: none;
    padding: 0.6rem 0.3rem;
    border: 1px #ccc solid;
    border-radius: 4px;
    margin: 1.3rem auto 0.3rem;
    width: 96%;
    -webkit-animation:fadeIn 200ms;
    -o-animation:fadeIn 200ms;
    animation:fadeIn 200ms;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        height: 0;
    }
    to{
        opacity: 1;
        height: 1.65rem;
    }
}
@keyframes showScaleBig {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}