<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		
		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/order/after_sales.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<script type="text/javascript" src="../../3rd/jq/jquery.js" ></script>
		<script type="text/javascript" src="../../js/account/after_xiala.js" ></script>
	</head>

	<body>
		<div id="after_sales">
			<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					售后申请
				</h2>
			</header>
			<div class="after_sales_01">
				<p>蛋糕和生鲜类商品暂不支持退货</p>
				<p>请选择要退订的商品及数量</p>
			</div>
			<div class="after_sales_02">
				<div class="after_sales_03">
					<dl class="after_sa_01">
						<dt class="after_sales_on">
							<input type="checkbox" />
						</dt>
						<dd>
							<div class="after_sa_02">
								一件货物的名字
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01">退订数量：</div>
								</div>
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01 after_sa_03_left_02">退订原因：</div>
									
								</div>
								
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											1
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											请选择
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
							</div>
							<div class="after_sa_04">
								<p>问题描述</p>
								<textarea placeholder="请在此输入问题" class="after_text"></textarea>
								<span class="wordwrap"><var class="word">0</var>/500</span>
							</div>
						</dd>
					</dl>
					
				</div>
				<!----->
					<div class="after_sales_03">
					<dl class="after_sa_01">
						<dt class="after_sales_on">
							<input type="checkbox" />
						</dt>
						<dd>
							<div class="after_sa_02">
								一件货物的名字
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01">退订数量：</div>
								</div>
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01 after_sa_03_left_02">退订原因：</div>
									
								</div>
								
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											1
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											请选择
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
							</div>
							<div class="after_sa_04">
								<p>问题描述</p>
								<textarea placeholder="请在此输入问题" class="after_text"></textarea>
								<span class="wordwrap"><var class="word">0</var>/500</span>
							</div>
						</dd>
					</dl>
					
				</div>
				<!----->
					<div class="after_sales_03">
					<dl class="after_sa_01">
						<dt class="after_sales_on">
							<input type="checkbox" />
						</dt>
						<dd>
							<div class="after_sa_02">
								一件货物的名字
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01">退订数量：</div>
								</div>
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01 after_sa_03_left_02">退订原因：</div>
									
								</div>
								
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											1
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											请选择
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
							</div>
							<div class="after_sa_04">
								<p>问题描述</p>
								<textarea placeholder="请在此输入问题" class="after_text"></textarea>
								<span class="wordwrap"><var class="word">0</var>/500</span>
							</div>
						</dd>
					</dl>
					
				</div>
				<!----->
					<div class="after_sales_03">
					<dl class="after_sa_01">
						<dt class="after_sales_on">
							<input type="checkbox" />
						</dt>
						<dd>
							<div class="after_sa_02">
								一件货物的名字
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01">退订数量：</div>
								</div>
								<div class="after_sa_03_left">
									<div class="after_sa_03_left_01 after_sa_03_left_02">退订原因：</div>
									
								</div>
								
							</div>
							<div class="after_sa_03">
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											1
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
								<div class="after_sa_03_left">
								
									<div class="after_select">
										<p>
											请选择
										</p>
										<div class="after_option hide">
											<span>1</span>
											<span>2</span>
											<span>3</span>
											<span>4</span>
											<span>5</span>
										</div>
									</div>
								</div>
							</div>
							<div class="after_sa_04">
								<p>问题描述</p>
								<textarea placeholder="请在此输入问题" class="after_text"></textarea>
								<span class="wordwrap"><var class="word">0</var>/500</span>
							</div>
						</dd>
					</dl>
					
				</div>
				<!----->
				
			</div>
			<div class="after_sales_04">
				<p>申请退货</p>
			</div>
		</div>
	

	
	
	</body>
	

</html>