<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->

		<!--App自定义的css-->
		<link rel="stylesheet" href="../../css/order/jiaoyi.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		
	
	</head>

	<body>
		<div id="personal">
				<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					确认交易
				</h2>
			</header>
			<div class="jiaoyi_01">
				<ul>
					<li>
						<span>
							账户余额
						</span>
						<p>
							当前可以余额10元
							<i class="jiaoyi_01_on">
								
							</i>
						</p>
					</li>
					
					<li>
						<span>
							支付方式
						</span>
						<p>
							微信支付
							<i class="jiaoyi_01_on">
								
							</i>
						</p>
					</li>
				</ul>
			</div>	
			<div class="jiaoyi_02">
				<dl>
					<dt>
						<p>一箱好货（eer12231232313）</p>
						<span>
							￥199.00
						</span>
					</dt>
					<dd>
						<p>
							收款方
						</p>
						<span>
							一箱好货
						</span>
					</dd>
				</dl>
			</div>
			
		<div class="you_choose">
			<p>
				立即支付
			</p>
		</div>
		</div>
	</body>
</html>