<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->

		<!--App自定义的css-->
		<link rel="stylesheet" href="../../css/order/listing.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		
	
	</head>

	<body>
		<div id="listing">
				<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					商品清单
				</h2>
				<span class="listing_01">
					共3件
				</span>
			</header>
			<div class="listing">
				<dl>
					<dt>
						<img src="../../images/shops/good1.png">
					</dt>
					<dd>
						<div class="listing_a_01">
							<p>喜迎春节特价海鲜大礼包精选超值礼包</p>
							
						</div>
						<div class="listing_a_02">
							<span>
								优卡商品
							</span>
						</div>
						<div class="listing_a_03">
							<p>
							￥38.00
							</p>
							<span>
								x2
							</span>
							
						</div>
					</dd>
				</dl>
				<!---->
				<dl>
					<dt>
						<img src="../../images/shops/good1.png">
					</dt>
					<dd>
						<div class="listing_a_01">
							<p>喜迎春节特价海鲜大礼包精选超值礼包</p>
							
						</div>
						<div class="listing_a_02">
							<span>
								优卡商品
							</span>
						</div>
						<div class="listing_a_03">
							<p>
							￥38.00
							</p>
							<span>
								x2
							</span>
							
						</div>
					</dd>
				</dl>
				<!---->
				<dl>
					<dt>
						<img src="../../images/shops/good1.png">
					</dt>
					<dd>
						<div class="listing_a_01">
							<p>喜迎春节特价海鲜大礼包精选超值礼包</p>
							
						</div>
						<div class="listing_a_02">
							<span>
								优卡商品
							</span>
						</div>
						<div class="listing_a_03">
							<p>
							￥38.00
							</p>
							<span>
								x2
							</span>
							
						</div>
					</dd>
				</dl>
				<!---->
				<dl>
					<dt>
						<img src="../../images/shops/good1.png">
					</dt>
					<dd>
						<div class="listing_a_01">
							<p>喜迎春节特价海鲜大礼包精选超值礼包</p>
							
						</div>
						<div class="listing_a_02">
							<span>
								优卡商品
							</span>
						</div>
						<div class="listing_a_03">
							<p>
							￥38.00
							</p>
							<span>
								x2
							</span>
							
						</div>
					</dd>
				</dl>
				<!---->
			</div>
		</div>
	</body>
</html>