<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<link rel="stylesheet" href="../../3rd/mui/mui.min.css" />
		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/order/sales_service.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<script type="text/javascript" src="../../3rd/jq/jquery.js" ></script>
		<script type="text/javascript" src="../../js/account/after_xiala.js" ></script>
		<!--标准mui.js-->
		<script src="../../3rd/mui/mui.min.js"></script>
	</head>

	<body>
		<div id="sales_service">
			<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					售后申请
				</h2>
			</header>
			<div class="sales_service_empty a_mians_top hide">
				<img src="../../images/shops/account/after_03.png">
				
			</div>
			<div id="pullrefreshs" class="mui-content mui-scroll-wrapper mui-scroll-wrapper_a a_mians_top ">
			    <div class="mui-scroll">
			        <div class="main main_c main_top_1">
			               <div class="sales_service">
			               		<div class="sales_service_01">
			               			<span>FBG12345678</span>
			               			<span>易果</span>
			               			<span>包裹一</span>
			               			<p>审核通过</p>
			               		</div>
			               		<div class="sales_service_02">
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						<span>优卡商品</span>
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<div class="sales_service_02_c">
			               				<div class="sales_service_02_d">
			               					<p>交易金额：<i>￥100.00</i></p>
			               				</div>		               				
			               				<span>
			               					退货寄回
			               				</span>
			               			</div>
			               		</div>
			               </div>    
			        
			        <!----baoguo---->
			               <div class="sales_service">
			               		<div class="sales_service_01">
			               			<span>FBG12345678</span>
			               			<span>易果</span>
			               			<span>包裹2</span>
			               			<p>退订审核</p>
			               		</div>
			               		<div class="sales_service_02">
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						<span>优卡商品</span>
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<div class="sales_service_02_c">
			               				<div class="sales_service_02_d">
			               					
			               					<p>交易金额：<i>￥100.00</i></p>
			               				</div>		               				
			               				<span class="hide">
			               					退货寄回
			               				</span>
			               			</div>
			               		</div>
			               </div>    
			        
			        <!----baoguo---->
			                  <div class="sales_service">
			               		<div class="sales_service_01">
			               			<span>FBG12345678</span>
			               			<span>易果</span>
			               			<span>包裹3</span>
			               			<p>退款成功</p>
			               		</div>
			               		<div class="sales_service_02">
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						<span>优卡商品</span>
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<div class="sales_service_02_c">
			               				<div class="sales_service_02_d">
			               					<p>退款金额：<i>￥100.00</i></p>
			               					<p>交易金额：<i>￥100.00</i></p>
			               				</div>		               				
			               				<span class="hide">
			               					退货寄回
			               				</span>
			               			</div>
			               		</div>
			               </div>    
			        
			        <!----baoguo---->
			           <div class="sales_service">
			               		<div class="sales_service_01">
			               			<span>FBG12345678</span>
			               			<span>易果</span>
			               			<span>包裹4</span>
			               			<p>退款关闭</p>
			               		</div>
			               		<div class="sales_service_02">
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						<span>优卡商品</span>
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<dl>
			               				<dt>
			               					<img src="../../images/shops/product/img_2.png">
			               				</dt>
			               				<dd>
			               					<p class="sales_service_02_a">
			               						喜迎春节特价海鲜礼包 超值精选等你来拿
			               					</p>
			               					<div class="sales_service_02_b">
			               						
			               						<p>退订数量：1</p>
			               					</div>
			               				</dd>
			               			</dl>
			               			<div class="sales_service_02_c">
			               				<div class="sales_service_02_d">
			               					
			               					<p>交易金额：<i>￥100.00</i></p>
			               				</div>		               				
			               				<span class="hide">
			               					退货寄回
			               				</span>
			               			</div>
			               		</div>
			               </div>    
			        
			        <!----baoguo---->
			        
			        </div>
			    </div>
			</div>
				<script>
				    mui.init({
				        pullRefresh: {
				            container: '#pullrefreshs',
				            down: {
				
				                //callback: pulldownRefresh
				            },
				            up: {
				                contentrefresh: '正在加载...',
				                callback: pullupRefresh
				            }
				        }
				    });
				    /**
				     * 下拉刷新具体业务实现
				     */
				//    function pulldownRefresh() {
				//        setTimeout(function() {
				////            var table = document.body.querySelector('.mui-table-view');
				////            var cells = document.body.querySelectorAll('.mui-table-view-cell');
				////            for (var i = cells.length, len = i + 3; i < len; i++) {
				////                var li = document.createElement('li');
				////                li.className = 'mui-table-view-cell';
				////                li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
				////                //下拉刷新，新纪录插到最前面；
				////                table.insertBefore(li, table.firstChild);
				////            }
				//           // mui('#pullrefreshs').pullRefresh().endPulldownToRefresh(); //refresh completed
				//        }, 1500);
				//    }
				    var count = 0;
				    /**
				     * 上拉加载具体业务实现
				     */
				    function pullupRefresh() {
				        setTimeout(function() {
				            mui('#pullrefreshs').pullRefresh().endPullupToRefresh((++count > 2)); //参数为true代表没有更多数据了。
				//            var table = document.body.querySelector('.mui-table-view');
				//            var cells = document.body.querySelectorAll('.mui-table-view-cell');
				//            for (var i = cells.length, len = i + 20; i < len; i++) {
				//                var li = document.createElement('li');
				//                li.className = 'mui-table-view-cell';
				//                li.innerHTML = '<a class="mui-navigate-right">Item ' + (i + 1) + '</a>';
				//                table.appendChild(li);
				//            }
				        }, 1500);
				    }
				    if (mui.os.plus) {
				        mui.plusReady(function() {
				            setTimeout(function() {
				                mui('#pullrefreshs').pullRefresh().pullupLoading();
				            }, 1000);
				
				        });
				    } else {
				//        mui.ready(function() {
				////            mui('#pullrefreshs').pullRefresh().pullupLoading();
				//            mui('#pullrefreshs').pullRefresh().enablePullupToRefresh();
				//        });
				    }
				</script>
		</div>
		</div>
	</body>
	

</html>