<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>订单确认</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <link href="../../css/order/settlement.css" type="text/css" rel="stylesheet">
        <link href="../../css/common.css" type="text/css" rel="stylesheet">
        <script src="../../3rd/jq/jquery.js"></script>
        <script src="../../js/poplistPlus.js"></script>
        <head>
</head>
<body>
<header><a class="back" ></a>确认订单</header>
    <div class="container">
        <div class="o-s">
            <div>周润发 <span class="right">18*******88</span></div>
            <div>上海市徐汇区桂平路418号603室</div>
        </div>

        <div class="o-b">
            <div class="o-i">易果 订单号 <span class="right">待付款</span></div>
            <div class="o-l">
                <div class="o-l-img">
                    <img src="../../images/shops/good2.png">
                    <img src="../../images/shops/good2.png">
                    <img src="../../images/shops/good2.png">
                    <img src="../../images/shops/good2.png">
                </div>
                <a class="o-l-c">共3件</a>
            </div>
        </div>

        <div class="o-p">
            <div>优惠券<a class="o-a-n">2张可用</a></div>
            <div>积分
                <a class="o-a-c">可用346点抵用
                    <span class="o-a-c-s">￥3.46</span>
                    <input type="checkbox"><label></label>
                </a>
            </div>
            <div>账户余额
                <a class="o-a-c">当前可用余额
                    <span class="o-a-c-s">￥3.46</span>
                    <input type="checkbox"><label></label>
                </a>
            </div>
            <div>发票信息<a class="o-a-n">不需要发票</a></div>
        </div>

        <div class="p-a">
            <div>商品金额 <span class="right">￥60.00</span></div>
            <div>运费 <span class="right">￥60.00</span></div>
            <div>优惠券 <span class="right">-￥60.00</span></div>
            <div>优卡积分 <span class="right">-￥60.00</span></div>
            <div>账户积分 <span class="right">-￥60.00</span></div>
        </div>
    </div>
    <div class="footer">
        <a class="f-a-d">应付金额：
            <span class="o-a-c-s">￥3.46</span>

        </a>
        <a class="f-a-p">提交订单</a>
    </div>
</body>
</html>