<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		
		<!--分类单独CSS-->
		<link rel="stylesheet" href="../../css/order/shopping_cart.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
		<script src="../../3rd/mui/mui.min.js"></script>
		<script type="text/javascript" src="../../3rd/jq/jquery.js" ></script>
	</head>

	<body>
		<div id="shopping_cart">
			<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					购物车
				</h2>
				<span class="shopping_cart shopping_cart_editor">
					编辑
				</span>
				<span class="shopping_cart shopping_cart_complete hide">
					完成
				</span>
			</header>
			<!--头--->
			<div class="shopping_cart_empty hide">
				<img src="../../images/shops/order/shopping_03.png">
			</div>
			<!---->
			<div class="shopping_cart_01 a_mians_top a_mians_bottom">
				<div class="shopping_cart_02">
					<div class="shopping_cart_03 shopping_cart_on">
						<input type="checkbox" /> <span>本来生活</span>
					</div>
					<!--shangpin-->
					<dl class="shopping_cart_09">
						<dt class="shopping_cart_on">
							<input type="checkbox" />
						</dt>
						<dd class="shopping_cart_10">
							<img src="../../images/shops/good2.png">
						</dd>
						<dd class="shopping_cart_11">
							<div class="shopping_cart_04">
								<p>喜迎春节特价海鲜大礼包精选超值礼包拉拉</p>
								<span>库存仅剩3个</span>
							</div>
							<div class="shopping_cart_05">
								<span class="shopping_cart_05_01">优卡商品</span>
								<span class="shopping_cart_05_02">本商品限购2个</span>
							</div>
							<div class="shopping_cart_06">
								<span class="shopping_cart_07">
									38.00
								</span>
								<div class="shopping_cart_08">
									<span>
										<img src="../../images/shops/order/shopping_01.png">
									</span>
									<p>100</p>
									<span>
										<img src="../../images/shops/order/shopping_02.png">
									</span>
								</div>
							</div>
						</dd>
					</dl>
					
					<!--/--->
						<!--shangpin-->
					<dl class="shopping_cart_09">
						<dt>
							<input type="checkbox" />
						</dt>
						<dd class="shopping_cart_10">
							<img src="../../images/shops/good2.png">
						</dd>
						<dd class="shopping_cart_11">
							<div class="shopping_cart_04">
								<p>喜迎春节特价海鲜大礼包精选超值礼包拉拉</p>
								<span>库存仅剩3个</span>
							</div>
							<div class="shopping_cart_05">
								<span class="shopping_cart_05_01">优卡商品</span>
							</div>
							<div class="shopping_cart_06">
								<span class="shopping_cart_07">
									38.00
								</span>
								<div class="shopping_cart_08">
									<span>
										<img src="../../images/shops/order/shopping_01.png">
									</span>
									<p>100</p>
									<span>
										<img src="../../images/shops/order/shopping_02.png">
									</span>
								</div>
							</div>
						</dd>
					</dl>
					
					<!--/--->
				</div>
			<div class="shopping_cart_02">
					<div class="shopping_cart_03 shopping_cart_on">
						<input type="checkbox" /> <span>本来生活</span>
					</div>
					<!--shangpin-->
					<dl class="shopping_cart_09 shopping_no">
						<dt class="shopping_cart_on">
							<span>
								失效
							</span>
						</dt>
						<dd class="shopping_cart_10">
							<img src="../../images/shops/good2.png">
						</dd>
						<dd class="shopping_cart_11">
							<div class="shopping_cart_04">
								<p>喜迎春节特价海鲜大礼包精选超值礼包拉拉</p>
								<span>库存仅剩3个</span>
							</div>
							<div class="shopping_cart_05">
								<span class="shopping_cart_05_01">优卡商品</span>
								<span class="shopping_cart_05_02">本商品限购2个</span>
							</div>
							<div class="shopping_cart_06">
								<span class="shopping_cart_07">
									38.00
								</span>
								<div class="shopping_cart_08">
									<span>
										<img src="../../images/shops/order/shopping_01.png">
									</span>
									<p>100</p>
									<span>
										<img src="../../images/shops/order/shopping_02.png">
									</span>
								</div>
							</div>
						</dd>
					</dl>
					
					<!--/--->
						<!--shangpin-->
					<dl class="shopping_cart_09">
						<dt>
							<input type="checkbox" />
						</dt>
						<dd class="shopping_cart_10">
							<img src="../../images/shops/good2.png">
						</dd>
						<dd class="shopping_cart_11">
							<div class="shopping_cart_04">
								<p>喜迎春节特价海鲜大礼包精选超值礼包拉拉</p>
								<span>库存仅剩3个</span>
							</div>
							<div class="shopping_cart_05">
								<span class="shopping_cart_05_01">优卡商品</span>
							</div>
							<div class="shopping_cart_06">
								<span class="shopping_cart_07">
									38.00
								</span>
								<div class="shopping_cart_08">
									<span>
										<img src="../../images/shops/order/shopping_01.png">
									</span>
									<p>100</p>
									<span>
										<img src="../../images/shops/order/shopping_02.png">
									</span>
								</div>
							</div>
						</dd>
					</dl>
					
					<!--/--->
				</div>
			<div class="shopping_cart_02">
					<div class="shopping_cart_03 shopping_cart_on">
						<input type="checkbox" /> <span>本来生活</span>
					</div>
					<!--shangpin-->
					<dl class="shopping_cart_09">
						<dt class="shopping_cart_on">
							<input type="checkbox" />
						</dt>
						<dd class="shopping_cart_10">
							<img src="../../images/shops/good2.png">
						</dd>
						<dd class="shopping_cart_11">
							<div class="shopping_cart_04">
								<p>喜迎春节特价海鲜大礼包精选超值礼包拉拉</p>
								<span>库存仅剩3个</span>
							</div>
							<div class="shopping_cart_05">
								<span class="shopping_cart_05_01">优卡商品</span>
								<span class="shopping_cart_05_02">本商品限购2个</span>
							</div>
							<div class="shopping_cart_06">
								<span class="shopping_cart_07">
									38.00
								</span>
								<div class="shopping_cart_08">
									<span>
										<img src="../../images/shops/order/shopping_01.png">
									</span>
									<p>100</p>
									<span>
										<img src="../../images/shops/order/shopping_02.png">
									</span>
								</div>
							</div>
						</dd>
					</dl>
					
					<!--/--->
						<!--shangpin-->
					<dl class="shopping_cart_09">
						<dt>
							<input type="checkbox" />
						</dt>
						<dd class="shopping_cart_10">
							<img src="../../images/shops/good2.png">
						</dd>
						<dd class="shopping_cart_11">
							<div class="shopping_cart_04">
								<p>喜迎春节特价海鲜大礼包精选超值礼包拉拉</p>
								<span>库存仅剩3个</span>
							</div>
							<div class="shopping_cart_05">
								<span class="shopping_cart_05_01">优卡商品</span>
							</div>
							<div class="shopping_cart_06">
								<span class="shopping_cart_07">
									38.00
								</span>
								<div class="shopping_cart_08">
									<span>
										<img src="../../images/shops/order/shopping_01.png">
									</span>
									<p>100</p>
									<span>
										<img src="../../images/shops/order/shopping_02.png">
									</span>
								</div>
							</div>
						</dd>
					</dl>
					
					<!--/--->
				</div>
			
			</div>
		
		
		</div>
	
		<div class="shopping_cart_fix shopping_cart_fix_01">
			<div class="shopping_cart_fix_left">
				<input type="checkbox" />全部
			</div>
			<div class="shopping_cart_fix_right">
				<p>结算（3）</p><div class="shopping_cart_fix_right_01">合计:<span>$72.00 </span></div>
			</div>
		</div>
		<div class="shopping_cart_fix shopping_cart_fix_02">
			<div class="shopping_cart_fix_left">
				<input type="checkbox" />全部
			</div>
			<div class="shopping_cart_fix_right shopping_cart_fix_right_02">
				<p>删除</p>
			</div>
		</div>
		
		<div class="a_tuan hide">
			<div class="a_tishi">
				<p>
					有商品价格已发生变化
				</p>
				<span>
					知道了
				</span>
			</div>
		</div>
		<div class="you_bk hide">
			<dl>
				<dt>
					确定要删除这张优惠券吗？
				</dt>
				<dd>
					<span class="youbk_yes">
						删了吧
					</span>
					<span class="youbk_no">
						手滑
					</span>
				</dd>
			</dl>
		</div>
<script>
     mui('#shopping_cart').on('longtap', '.shopping_cart_09', function() { //给li添加点击事件，直接写普通的a标签或者在元素上加onclick事件不成功
                            $('.you_bk').show();
                           
                     });
                     mui.init({
						  gestureConfig:{
						   tap: true, //默认为true
						   longtap: true, //默认为false
				
						  }
						});
	$(function(){
		$('.shopping_cart_editor').on('click',function(){
			$('.shopping_cart_fix_01,.shopping_cart_editor').hide();
			
			$('.shopping_cart_fix_02,.shopping_cart_complete').show();
			
		})
		$('.shopping_cart_complete').on('click',function(){
			$('.shopping_cart_fix_01,.shopping_cart_editor').show();
			
			$('.shopping_cart_fix_02,.shopping_cart_complete').hide();
		})
			$('.you_bk span').click(function(){
				   		 $('.you_bk').hide();
				   	})
	})
</script>
	</body>
</html>