<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<!-- UC强制全屏 -->
		<meta name="full-screen" content="yes">
		<!-- QQ强制全屏 -->
		<meta name="x5-fullscreen" content="true">
		<!-- WebApp全屏模式 -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<title>标签</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

	
		<!--App自定义的css-->
		<link rel="stylesheet" href="../../css/order/youhui_choose.css" />
		<!--控制字体-->
		<script type="text/javascript" src="../../js/rem.js" ></script>
	
		<script type="text/javascript" src="../../3rd/jq/jquery.js" ></script>
	</head>

	<body>
		<div class="youhui_list_one hide">
			<p class="youhui_list_onty">
				<img src="../../images/shops/account/youhui_02.png">
				<span>充值</span>
			</p>
			<p>
				<img src="../../images/shops/account/youhui_03.png">
				<span>帮助说明</span>
			</p>
		</div>
		<div id="youhui_list">
				<header>
				<a href="#">
					<img src="../../images/shops/back_back.png">
				</a>
				<h2>
					优惠券
				</h2>
				<span class="youhui_list_01">
					<img src="../../images/shops/account/youhui_01.png">
				</span>
			</header>
			<div class="search_list_empty hide">
				<img src="../../images/shops/product/icon_empty.png">
				<p>
					抱歉，未找到相关内容
				</p>
			</div>
			
			    	<div class="youhui_list_03">
						<div class="youhui_list_1 youhui_yong">
							<dl>
								<dt>
							     <span>￥150</span>
							     <p>满99元可用</p>
								</dt>
								<dd>
									<div class="youhui_list_dd_1">
										<span class="youhui_list_dd_a">商品卷</span>
										<p>
											仅可用在**商铺的商品
										</p>
									</div>
									<div class="youhui_list_dd_2">
										<p>2016.11.11-2016.11.28</p>
										<span class="youhui_list_dd_2_on">
											
										</span>
									</div>
									<div class="youhui_list_dd_3">
										<p>详细信息</p>
										<span>
											<img src="../../images/shops/account/youhui_04.png">
										</span>
									</div>
								</dd>
							</dl>
							<div class="youhui_list_shuo hide">
								优惠券说明，限20个字
							</div>
						</div>
						<!---->
						<div class="youhui_list_1">
							<dl>
								<dt>
							     <span>￥150</span>
							     <p>满99元可用</p>
								</dt>
								<dd>
									<div class="youhui_list_dd_1">
										<span class="youhui_list_dd_a">商品卷</span>
										<p>
											仅可用在**商铺的商品
										</p>
									</div>
									<div class="youhui_list_dd_2">
										<p>2016.11.11-2016.11.28</p>
										<span class="youhui_list_dd_2_on">
											
										</span>
									</div>
									<div class="youhui_list_dd_3">
										<p>详细信息</p>
										<span>
											<img src="../../images/shops/account/youhui_04.png">
										</span>
									</div>
								</dd>
							</dl>
							<div class="youhui_list_shuo hide">
								优惠券说明，限20个字
							</div>
						</div>
						<!---->
						<div class="youhui_list_1">
							<dl>
								<dt>
							     <span>￥150</span>
							     <p>满99元可用</p>
								</dt>
								<dd>
									<div class="youhui_list_dd_1">
										<span class="youhui_list_dd_a">商品卷</span>
										<p>
											仅可用在**商铺的商品
										</p>
									</div>
									<div class="youhui_list_dd_2">
										<p>2016.11.11-2016.11.28</p>
										<span class="youhui_list_dd_2_on">
											
										</span>
									</div>
									<div class="youhui_list_dd_3">
										<p>详细信息</p>
										<span>
											<img src="../../images/shops/account/youhui_04.png">
										</span>
									</div>
								</dd>
							</dl>
							<div class="youhui_list_shuo hide">
								优惠券说明，限20个字
							</div>
						</div>
						<!---->
						<div class="youhui_list_1">
							<dl>
								<dt>
							     <span>￥150</span>
							     <p>满99元可用</p>
								</dt>
								<dd>
									<div class="youhui_list_dd_1">
										<span class="youhui_list_dd_a">商品卷</span>
										<p>
											仅可用在**商铺的商品
										</p>
									</div>
									<div class="youhui_list_dd_2">
										<p>2016.11.11-2016.11.28</p>
										<span class="youhui_list_dd_2_on">
											
										</span>
									</div>
									<div class="youhui_list_dd_3">
										<p>详细信息</p>
										<span>
											<img src="../../images/shops/account/youhui_04.png">
										</span>
									</div>
								</dd>
							</dl>
							<div class="youhui_list_shuo hide">
								优惠券说明，限20个字
							</div>
						</div>
						<!---->
							<div class="youhui_list_1">
							<dl>
								<dt>
							     <span>￥150</span>
							     <p>满99元可用</p>
								</dt>
								<dd>
									<div class="youhui_list_dd_1">
										<span class="youhui_list_dd_a">商品卷</span>
										<p>
											仅可用在**商铺的商品
										</p>
									</div>
									<div class="youhui_list_dd_2">
										<p>2016.11.11-2016.11.28</p>
										<span class="youhui_list_dd_2_on">
											
										</span>
									</div>
									<div class="youhui_list_dd_3">
										<p>详细信息</p>
										<span>
											<img src="../../images/shops/account/youhui_04.png">
										</span>
									</div>
								</dd>
							</dl>
							<div class="youhui_list_shuo hide">
								优惠券说明，限20个字
							</div>
						</div>
						<!---->
							<div class="youhui_list_1">
							<dl>
								<dt>
							     <span>￥150</span>
							     <p>满99元可用</p>
								</dt>
								<dd>
									<div class="youhui_list_dd_1">
										<span class="youhui_list_dd_a">商品卷</span>
										<p>
											仅可用在**商铺的商品
										</p>
									</div>
									<div class="youhui_list_dd_2">
										<p>2016.11.11-2016.11.28</p>
										<span class="youhui_list_dd_2_on">
											
										</span>
									</div>
									<div class="youhui_list_dd_3">
										<p>详细信息</p>
										<span>
											<img src="../../images/shops/account/youhui_04.png">
										</span>
									</div>
								</dd>
							</dl>
							<div class="youhui_list_shuo hide">
								优惠券说明，限20个字
							</div>
						</div>
						<!---->
					</div>
			
				
			
		</div>
		<div class="you_choose">
			<p>
				确定
			</p>
		</div>
		<script>
			$(function(){
			
           
				 	$('.youhui_list_dd_3').click(function(){
				   		  var rty =$(this).parent().parent().siblings('.youhui_list_shuo');
                            if(rty.is(':hidden')){
                            	 rty.show();
                            }else{
                            	 rty.hide();
                            }
				   		
				   	})
				   	$('.youhui_list_01').click(function(){
				   		 if($('.youhui_list_one').is(':hidden')){
                            	 $('.youhui_list_one').show();
                            }else{
                            	$('.youhui_list_one').hide();
                            }
				   		
				   	})
				
			})
		</script>
	</body>
</html>